---
import Layout from "../layouts/base.astro";
---

<Layout>
	<h1>Einen Fehler melden</h1>
	<p>Hast du einen Fehler gefunden oder andere Probleme mit der BBZ-Cloud-App? Schreibe unten dein Anliegen und wir werden der Sache nachgehen.</p>
	<br>
	<form name="issue" action="/success" method="POST" netlify>
		<p>
			<label>Name:<br><input type="text" name="name" required></label>
		</p>
		<p>
			<label>Dein Anliegen:<br><textarea name="text" required></textarea></label>
		</p>
		<p>
			<button type="submit">Senden</button>
		</p>
	</form>
	<br>
	<small>Tipp: Alternativ kannst du den Fehler auch direkt auf <a href="https://github.com/koyuawsmbrtn/bbz-cloud/issues/new" target="_blank">GitHub</a> melden.</small>
</Layout>