---
import Layout from "../layouts/base.astro";
---

<Layout>
	<h1>Vielen Dank!</h1>
	<p>Wir haben deine Nachricht erhalten und werden uns darum kümmern. Sollten wir Fragen haben werden wir uns bei dir melden.</p>
	<br>
	<p><a href="/">&larr; Zurück zum Formular</a></p>
</Layout>