---
import "simpledotcss/simple.css";
import "../css/global.css";
---

<html lang="de">
	<head>
		<meta charset="utf-8" />
		<link rel="shortcut icon" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>BBZ-Cloud Issue-Tracker</title>
	</head>
	<body>
		<slot />
	</body>
</html>
